h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;    
}

#main-div {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#camera-image {
    max-width: 100%;
    height: auto;
}

#fullscreen-button {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
